argcomplete==1.12.3
atomicwrites==1.4.1
attrs==24.3.0
bottle==0.12.18
certifi==2024.12.14
chardet==3.0.4
colorama==0.4.6
idna==2.10
more-itertools==10.5.0
packaging==24.2
Paste==3.10.1
pluggy==0.13.1
prettytable==0.7.2
py==1.11.0
PyHamcrest==2.0.2
pymongo==3.11.0
pytest==5.4.3
PyYAML==6.0.2
setuptools==75.6.0
urllib3==1.25.11
waitress==3.0.2
wcwidth==0.2.13
